.centerdiv {
    background-color: white;
    max-width: 500px;
    margin: auto;
    padding: 20px;
    border-radius: 25px;
    border: 5px solid black;
    display: grid;
}

.checkCenter {
    grid-template-areas:
            "header header"
            "content content"
            "footer footer";
}

.checkHeader {
    grid-area: header;
}

.content {
    display: grid;
    grid-area: content;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(10, 1fr);
    grid-auto-flow: column;

}
.contentName {
    grid-column: 1 / span 1;
    grid-row: span 1;
}


.column {
    display: grid;
    margin-left: 50px;
}

.columnContentValue {
    display: grid;
    margin-left: 50px;
    grid-column: 2 / span 1;
}


.contentValue {
    grid-column: 2 / span 1;
}

.columnContentValue::first-letter {
    text-transform: uppercase;
}
.contentValue::first-letter {
    text-transform: uppercase;
}
.footer {
    display: grid;
    grid-area: footer;
    grid-template-columns: auto auto auto;
    justify-items: center;
}

.next {
    margin-bottom: 50px;
}



.label {
    margin-left: 10px;
}

.youngend {
    padding-top: 50px;
}

body {
    background-image: url("las.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.result {
    margin-top: 10px;
    font-weight:750;
}

.link {
    float: right;
    background-color: #1d1993;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 25px;
    text-align: center;

}

.endlink {
    float: left;
    background-color: #1d1993;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 25px;
    text-align: center;

    
}

.cos {
    float: right;
}

.forlink {
    padding-bottom: 30px;
}
input[type]{
    margin-right: 10px;
}