.centerdiv {
    background-color: white;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border-radius: 25px;
    border: 5px solid black;
}

.checkCenter {
    grid-template-areas:
            "header header"
            "content content"
            "footer footer";
}

.table-style {
    border-collapse: collapse;
    width: 150%;
    height: 12%;
  }
  
  .table-style th, .table-style td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
  }
  
  .table-style th {
    background-color: #f2f2f2;
  }

.checkHeader {
    grid-area: header;
}

.content {
    display: grid;
    grid-area: content;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: column;
  }
  
  .mature {
    grid-template-rows: repeat(9, auto);
  }
.young {
    grid-template-rows: repeat(10, auto);
}
.contentName {
    grid-column: 1 / span 1;
    grid-row: span 1;
}


.column {
    display: grid;
    margin-left: 50px;
}

.columnContentValue {
    display: grid;
    margin-left: 50px;
    grid-column: 2 / span 1;
}


.contentValue {
    grid-column: 2 / span 1;
}

.columnContentValue::first-letter {
    text-transform: uppercase;
}
.contentValue::first-letter {
    text-transform: uppercase;
}
.footer {
    display: grid;
    grid-area: footer;
    grid-template-columns: auto auto auto;
    justify-items: center;
}

.next {
    margin-bottom: 50px;
}


.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid black;
  }


.label {
    margin-left: 10px;
}

.youngend {
    padding-top: 50px;
}

body {
    background-image: url("forest.jpeg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.checkBody {
    height: 100%;
}
.result {
    margin-top: 10px;
    font-weight:750;
}

.link {
    float: right;
    background-color: #1d1993;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 25px;
    text-align: center;
}

.endlink {
    background-color: #1d1993;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 25px;
    text-align: center;
  }
  
  .forlink {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 30px;
    margin-top: 15px;
    width: 100%;
  }
  
  
  .endlink:first-child {
    margin-right: auto;
  }
  

.edit {
    display: flex;
    flex-direction: row;
}

.somebutton {
    width: 69px;
    height: 40px;
    margin-left: 5px;
    text-align: center;

}


input[type]{
    margin-right: 10px;
}
@keyframes fadeInAnimation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
.fade-in {
    opacity: 0;
    animation: fadeInAnimation 1s forwards;
  }
  
